body {
    background-color: rgb(255, 245, 245);
}
.jumbotron {
    background: transparent;
    font-family: 'Jomolhari', serif;    
}
.jumbotron h1 {
    font-size: 50px;

}
.navbar {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.nav-text {
    font-family: 'Alegreya Sans SC', sans-serif;
    font-weight: bolder;
    color: #fff;
    
}
.lgn {
    font-family: 'Alegreya Sans SC', sans-serif;
    font-weight: bolder;
    color: #fff;
}
.lgn:hover {
    text-decoration: none;
    color: rgb(190, 181, 190);
}
.nav-text:hover {
    text-decoration: none;
    color: rgb(190, 181, 190);
}
.nav-text-add {
    border-bottom: 1.5px solid #009c61;
    /* border-radius: 20px; */
    padding: 5px;
    font-family: 'Alegreya Sans SC', sans-serif;
    font-weight: bolder;
    color: #009c61;
}
.nav-text-add:hover {
    text-decoration: none;
    color: rgb(83, 214, 137);
    border-bottom: 1.5px solid #24c789;
    /* background: #009c61; */
}
.content {
    display: flex;
    justify-content: center;
    flex-direction: row;
}
.tab-content {
    display: flex;
    justify-content: center;
    flex-direction: row;
}
.category {
    color: rgb(255, 255, 255);
    font-weight: bolder;
}
.category:hover {
    text-decoration: none;
    color: rgb(231, 207, 229);
}
#crdz {
    background-color:rgb(55, 57, 70);
    border-radius: 20px;
    margin: 1.5%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    color: azure;
    text-decoration: none;
    padding: 2%;
    font-family: 'Alegreya Sans SC', sans-serif;

    position: relative;
    -webkit-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;


}
#crdz:hover {
    cursor: pointer;
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);

}


#crd {
    border-radius: 20px;
    margin: 1.5%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    position: relative;
    -webkit-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}
#crd:hover {
    cursor: pointer;
    -webkit-transform: scale(1.01);
    -ms-transform: scale(1.01);
    transform: scale(1.01);
}

#img {
    border: 6 px solid rgb(219, 223, 224);
    border-radius: 50%;
    margin: 10%;
} 
.card-title {
    font-weight: bolder;
}
.card-text {
    font-size: 15px;
}

.btn {
    margin-top: 12%;
    border-radius: 50px;
    font-weight: bolder;
}