{% extends 'base.html'%}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    {% if title %}
    <title> {{ title }}</title>
    {% else %}
    <title> Home - Pitch | Space </title>
    {% endif %}
</head>

<body>
    {% block content %}
    <div class="container">
        <div class="row content">
            <!-- {% for category in categories %}
            <li class="card text-center" style="width: 18rem;" id="crdz">

               
                <a data-toggle="tab" class="category" href="#">{{category.name}}</a>
                

            </li>
            {% endfor %} -->

            <li class="card text-center" style="width: 18rem;" id="crdz">


                <a data-toggle="tab" class="category" href="#">product</a>


            </li>

            <li class="card text-center" style="width: 18rem;" id="crdz">


                <a data-toggle="tab" class="category" href="#">lyrics</a>


            </li>

            <li class="card text-center" style="width: 18rem;" id="crdz">


                <a data-toggle="tab" class="category" href="#">sales</a>


            </li>

            <li class="card text-center" style="width: 18rem;" id="crdz">


                <a data-toggle="tab" class="category" href="#">pick-up lines</a>


            </li>

            <li class="card text-center" style="width: 18rem;" id="crdz">


                <a data-toggle="tab" class="category" href="#">personal</a>


            </li>



            <!-- <li class="card text-center" style="width: 18rem;" id="crdz">

                {% for category in categories %}
                <a class="category" href="#">{{category.name}}</a>
                {% endfor %}

            </li>
            <li class="card text-center" style="width: 18rem;" id="crdz">

                {% for category in categories %}
                <a class="category" href="#">{{category.name}}</a>
                {% endfor %}

            </li> -->

        </div>
        <hr>

        <div class="row tab-content">
            <div class="card text-center tab-pane active" style="width: 18rem;" id="crd">
                <div class="card-body">
                    <img id="img" src="images/Screenshot from 2019-09-01 12-48-23.png" alt="" width="50%">
                    <h5 class="card-title">Special title treatment</h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <a href="#" class="btn btn-outline-info btn-block">Comment</a>
                </div>
            </div>
            <div class="card text-center tab-pane active" style="width: 18rem;" id="crd">
                <div class="card-body">
                    <img id="img" src="images/Screenshot from 2019-09-01 12-48-23.png" alt="" width="50%">
                    <h5 class="card-title">Special title treatment</h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <a href="#" class="btn btn-outline-info btn-block">Comment</a>
                </div>
            </div>
            <div class="card text-center tab-pane active" style="width: 18rem;" id="crd">
                <div class="card-body">
                    <img id="img" src="images/Screenshot from 2019-09-01 12-48-23.png" alt="" width="50%">
                    <h5 class="card-title">Special title treatment</h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <a href="#" class="btn btn-outline-info btn-block">Comment</a>
                </div>
            </div>
            <div class="card text-center tab-pane active" style="width: 18rem;" id="crd">
                <div class="card-body">
                    <img id="img" src="images/Screenshot from 2019-09-01 12-48-23.png" alt="" width="50%">
                    <h5 class="card-title">Special title treatment</h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <a href="#" class="btn btn-outline-info btn-block">Comment</a>
                </div>
            </div>

        </div>


    </div>


    {% endblock%}
</body>

</html>